body{
  background:#eee;
  padding:30px;
  font-family: Arial;
}

/* Kart */
.kart{
  width:150px;
  height:200px;
  background:#021037;
  color:white;
  border-radius:10px;
  text-align:center;
  display:inline-block;
  margin-right:20px;
  box-shadow:10px 10px 5px rgba(0,0,0,0.6);
}

/* Üst arka plan (resimsiz) */
.profilSablon{
  position:relative;
  width:150px;
  height:100px;
  background: linear-gradient(to right top,#1d2671,#c33764);
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

/* Profil resimleri (resimsiz) */
.profilResim{
  position:absolute;
  left:50px;
  top:75px;
  width:50px;
  height:50px;
  border-radius:50%;
  border:2px solid white;
}

/* Farklı renkler */
.p1{ background: orange; }
.p2{ background: lightblue; }
.p3{ background: lightgreen; }

/* Yazılar */
.kart p{
  font-size:10px;
  margin-top:30px;
}

.kart b{
  font-size:12px;
}

.kart hr{
  width:100px;
  margin-left:25px;
}
